*{
    box-sizing: border-box;
}
body{
    background-color: #D4AF37;
}
div.title{
    margin-top:150px ;
    margin-bottom: 100px;
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS;
}
div.row{
    border: 2px solid black;
    width: 400px;;
    height:230px;
    float: left;
    background-color: grey;
    margin:20px;
    position: relative;
}
div.dish-1{
    border: 2px black;
    border-style: none none solid solid;
    width:35%;
    background-color: palevioletred;
    text-align: center;
    position: absolute;
    top:0px;
    right:0px;
    font-family: Comic Sans MS;
}
div.dish-2{
    border: 2px black;
    border-style: none none solid solid;
    width:35%;
    background-color: #A52A2A;
    color:white;
    text-align: center;
    position: absolute;
    top:0px;
    right:0px;
    font-family: Comic Sans MS;
}
div.dish-3{
    border: 2px black;
    border-style: none none solid solid;
    width:35%;
    background-color: blue;
    text-align: center;
    position: absolute;
    top:0px;
    right:0px;
    font-family: Comic Sans MS;
}
p.content{
    font-family: Comic Sans MS;
    font-size: 15px;
    padding: 15px 7px 7px 7px;
}


@media only screen and (max-width: 799px){
    div.row{
       width: 90%;
    }
} 

@media only screen and (min-width: 800px){
    div.row{
       width: 40%;
    }
    #row{
        width:84%;
    }
} 

@media only screen and (min-width: 1230px){
    div.row{
       width: 30%;
    }
    #row{
        width:30%;
    }
}   
 

  


 